{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur SymBNB
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bievenu sur SymBNB</h1>
            <p class="lead">Présentation de mon site ...</p>
            <hr class="my-4">
            <p>Vous voulez voir ou vous pourrez loger ?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos anonces</a>
            </p>
        </div>

        <h2 class ="h1 mt-3 mb-4">Nos apprt</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>99e</strong> / nuit <br>
                        <small>Pas encore noté</small>
                    </div> 

                    <img src="http://placehold.it/1000x400" alt="img de l'appart" style = "height:200px; width :100%; display:block">

                    <div class="card-body">
                        <h4 class="card-title"> Titre h4</h4>
                        <p class="card-text"> texte texte texte texte texte texte texte texte texte texte texte</p> 
                        <a href="" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>99e</strong> / nuit <br>
                        <small>Pas encore noté</small>
                    </div> 

                    <img src="http://placehold.it/1000x400" alt="img de l'appart" style = "height:200px; width :100%; display:block">

                    <div class="card-body">
                        <h4 class="card-title"> Titre h4</h4>
                        <p class="card-text"> texte texte texte texte texte texte texte texte texte texte texte</p> 
                        <a href="" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>99e</strong> / nuit <br>
                        <small>Pas encore noté</small>
                    </div> 

                    <img src="http://placehold.it/1000x400" alt="img de l'appart" style = "height:200px; width :100%; display:block">

                    <div class="card-body">
                        <h4 class="card-title"> Titre h4</h4>
                        <p class="card-text"> texte texte texte texte texte texte texte texte texte texte texte</p> 
                        <a href="" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div> 

        <h2 class ="h1 mt-3 mb-4">Nos propri </h2>

        <div class="row ">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lior</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                            <p>test testtesttesttesttesttest test test test test test</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Lior</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                            <p>test testtesttesttesttesttest test test test test test</p>
                            <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
